* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  min-height: 100vh;
}

.header-img {
  max-width: 100%;
  padding: 10rem 0;
}

.main-center {
  display: flex;
  justify-content: center;

  margin: -15rem 1rem 1rem 1rem;
}

.main-content {
  width: 40rem;
  padding: 1.25rem;
}

.todo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-bottom: 2rem;
}

h1,
.fa-sun,
.fa-moon {
  color: hsl(0, 0%, 98%);
}

h1 {
  letter-spacing: 1rem;
  font-size: 2.75rem;
}

.fa-sun,
.fa-moon {
  font-size: 1.75rem;
}

.new-content,
.todo-list,
.ul-div,
footer {
  border-radius: .5rem;
}

.new-content {
  width: 100%;
  border: none;
  outline: none;  
  padding: 1rem;
}

.todo-list {
  display: flex;
  flex-direction: column;

  margin-top: 1.5rem;
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem 1rem;
  border-bottom: 2px solid hsl(234, 11%, 52%);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1rem;
  margin-top: 1rem;
}

ul {
  display: flex;
  gap: 1.25rem;

  list-style-type: none;
}

li,
.clear,
.fa-solid,
.fa-regular {
  cursor: pointer;
}

.new-item {
  display: flex;
  align-items: center;
}

.fa-plus {
  margin-left: -1.75rem;
}

.todo-task {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa-circle-check {
  font-size: 1.25rem;
}

.ul-div {
  display: flex;
  justify-content: center;

  padding: 1rem;
  margin-top: 1.5rem;
}

/* RESPONSIVITY */

@media only screen and (max-width: 2560px) {
  .ul-div {
    display: none;
  }
}

@media only screen and (max-width: 595px) {
  .ul-div {
    display: flex;
  }

  .ul-footer {
    display: none;
  }
}

/* PREFERS COLOR SCHEME */

@media (prefers-color-scheme: light) {
	body {
		background-color: hsl(0, 0%, 98%);
    color: hsl(236, 8%, 41%);
	}

  .header-img {
    background: url('../assets/bg-desktop-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .todo-list,
  .new-content,
  .ul-div,
  footer {
    background-color: hsl(236, 33%, 92%);
  }

  li:hover,
  .clear:hover {
    color:hsl(235, 8%, 72%);
  }
}

@media (prefers-color-scheme: dark) {
	body {
    background-color: hsl(235, 21%, 11%);
    color: hsl(0, 0%, 98%);
	}

  .header-img {
    background: url('../assets/bg-desktop-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .todo-list,
  .new-content,
  .ul-div,
  footer {
    background-color: hsl(235, 24%, 19%);
  }

  li:hover,
  .clear:hover {
    color:hsl(234, 11%, 52%);
  }
}
