* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root {
  --color-background: hsl(0, 0%, 98%);
  --color-texts: hsl(236, 8%, 41%);
  --color-lists: hsl(236, 33%, 92%);
}

.dark-mode {
  --color-background: hsl(235, 21%, 11%);
  --color-texts: hsl(0, 0%, 98%);
  --color-lists: hsl(235, 24%, 19%);
}

body {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-texts);
}

.light-mode-img {
  background: url('../assets/bg-desktop-light.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  max-width: 100%;
  padding: 10rem 0;
}

.dark-mode-img {
  background: url('../assets/bg-desktop-dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  max-width: 100%;
  padding: 10rem 0;
}

.main-center {
  display: flex;
  justify-content: center;

  margin: -15rem 1rem 1rem 1rem;
}

.main-content {
  width: 40rem;
  padding: 1.25rem;
}

.todo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-bottom: 2rem;
}

h1,
.fa-sun,
.fa-moon {
  color: hsl(0, 0%, 98%);
}

.toggle-switch {
  position: relative;
  width: 4rem;
  margin-bottom: 1.6rem;
}

label {
  position: absolute;
  width: 100%;
  height: 1.8rem;
  background-color: #281e39;
  border-radius: 50px;
  cursor: pointer;
}

.toggle {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.5s;
}

input:checked ~ .slider {
  background-color: #e4d5ed;
}

.slider::before {
  content: "";
  position: absolute;
  top: .26rem;
  left: .4rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  box-shadow: inset .4rem -.25rem 0rem 0rem #e4d5ed;
  background-color: #281e39;
  transition: 0.5s;
}

input:checked ~ .slider::before {
  transform: translateX(2.1rem);
  background-color: #281e39;
  box-shadow: none;
}

h1 {
  letter-spacing: 1rem;
  font-size: 2.75rem;
}

.fa-sun,
.fa-moon {
  font-size: 1.5rem;
}

.new-content,
.todo-list,
footer {
  background-color: var(--color-lists);
  border-radius: .5rem;
}

.new-content {
  width: 100%;
  border: none;
  outline: none;  
  padding: 1rem;
}

.todo-list {
  display: flex;
  flex-direction: column;

  margin-top: 1.5rem;
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem 1rem;
  border-bottom: 2px solid hsl(234, 11%, 52%);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1rem;
  margin-top: 1rem;
}

.clear,
.fa-solid,
.fa-regular {
  cursor: pointer;
}

.new-item {
  display: flex;
  align-items: center;
}

.fa-plus {
  margin-left: -1.75rem;
}

.todo-task {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa-circle-check {
  font-size: 1.25rem;
}

.clear:hover {
  color: hsl(235, 8%, 72%);
}

/* PREFERS COLOR SCHEME */

@media (prefers-color-scheme: dark) {
	body {
    background-color: hsl(235, 21%, 11%);
    color: hsl(0, 0%, 98%);
	}

  #header-bg {
    background: url('../assets/bg-desktop-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    max-width: 100%;
    padding: 10rem 0;
  }

  .todo-list,
  .new-content,
  footer {
    background-color: hsl(235, 24%, 19%);
  }
}
